:root {
  --color-800 : red;
  --color-active : #111317;
  --color-background : #1C2027;
  --color-icon_background : #14171c;
  --color-text : #FEFEFE;
  --color-icon_color : #FEFEFE;
  --color-input_border : #4f46e5;
  --color-input_border_inactive : #494D52;


}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0D0D0D;
  margin: 32px auto;
  max-width: 800px;
}